* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit';
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.qr-code-component {
  width: 25%;
  height: auto;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 100%);
}

.qr-code-component img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

.qr-code-component h1 {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

.qr-code-component p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 1000px) {
  .qr-code-component {
    width: 35%;
  }
}

@media screen and (max-width: 700px) {
  .qr-code-component {
    width: 60%;
  }
}
